.auctions-container {
  display: flex;
}

.sidebar {
  padding: 20px;
  width: 250px;
  border-right: 1px solid #ccc;
  background-color: #f9f9f9;
}

.sidebar h3 {
  margin-bottom: 20px;
}

.filter-section {
  margin-bottom: 20px;
}

.filter-section p {
  margin: 10px 0;
  font-weight: bold;
}

.filter-section div {
  margin: 5px 0;
}

.right-content {
  padding: 20px;
  flex: 1;
}


input[type="radio"] {
  transform: scale(1.5); 
  width: 15px; 
}


input[type="radio"] + label {
  margin-left: 10px; 
}

input[type="checkbox"] {
  transform: scale(1.5); 
  margin-right: 10px; 
}
