
/* Slider Image */
.slider-image {
    position: relative;
    width: 100vw;
    height: 80vh;
    object-fit: cover;
  }
  
  /* Content */
  /* .content .h2text {
    font-size: 20px;
    font-weight: 500;
    color: white;
    margin-top: 10px;
  }
   */
  .title {
    margin-top: 60px;
    margin-left: 70px;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 50px;

  }
  
  .h-header {
    height: 560px;
  }
  
  .container {
    text-align: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    align-items: center;
  }
  
 
  
  /* Image Container */
  .image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  /* Image Item */
  .image-item {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    gap:9px
  }
  
  .image-item img {
     width: 200px;
    height: 250px;
    border-radius: 2%;
  }
  
  .image-item p {
    padding: 2px;
  }
  .image-item h2{
    padding: 2px;
    color: black;
    font-weight: bold;
    text-align: center;
    width:250px
  }
  .desc{
    width:200px;
    font-family:'Times New Roman', Times, serif;

  }
  .text  {
    color: rgb(99, 98, 98);
    text-align: center;
    display: flex;
    font-family:'Times New Roman', Times, serif;
    font-size:16px;
  }
  .iconss{
    display: flex;
    flex-direction: column;
  }
    .price-icon {
      color: rgb(6, 60, 6);
      margin-top: 5px;
      font-size: 20px;
      width:40px;
    }
    .location-icon {
      color: #23448d;
      margin-top: 1px;
      font-size: 20px;
      width:40px;
    }
  .content{
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    background-color: #f0f0e5;
  }
  .about-auction-container{
    flex-wrap: wrap;
    justify-content: space-between !important;
    margin-top: 4rem !important;
    padding: 5rem ;
    row-gap: 3rem
  }
    .about-auction{
      margin-top: -40px;
      max-width: 275px;
      width: 100%;
      order: 0;
    box-sizing: border-box;
    font-size: 100%;
    font: inherit;
    font-family:'Times New Roman', Times, serif;
    margin: 0;
    padding-left: 40px;
    padding-right: 40px;
    vertical-align: initial;
  }
  .about-auction span {
    align-items: center;
    display: flex;
    justify-content: center;
}
.about-auction span svg {
  font-size: 35px;
}
  .about-auction h3{
  color: black;
  font-size: 18px;
  font-weight: 600 !important;
  height: 52.76px;
  margin-bottom: 20px !important;
  padding: 20px;
  }
  /* Bid Button */
  .bid-button {
    border: 2px solid rgb(35, 35, 35);
    color: black;
    background-color: #fff;
    padding: 8px 16px;
    width: 100px;
    margin-top: 10px;
    align-items: center;
    font-size: 18px;
    height: 40px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
  }
  
  .bid-button:hover {
    background-color: black;
    color: white;
  }
  
  /* Card */
  .card {
    width: 250px;
    align-items: center;
    text-align: center;
  }
  
  /* Horizontal Line */
  .hrLine {
    margin: 30px auto;
    width: auto;
    border: 1px solid rgb(45, 43, 43);
  }
  
  /* Category */
  .category {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin-top: 70px;
  }
  
  .category h2 {
    color: black;
    font-weight: bold;
    font-size: 35px;
  }
  
  .categoryButton {
    border: 2px solid rgb(35, 35, 35);
    color: black;
    background-color: #fff;
    padding: 8px 16px;
    width: 240px;
    margin-top: 10px;
    align-items: center;
    font-size: 22px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
  }
  
  .categoryButton:hover {
    background-color: black;
    color: white;
  }
  
  /* Discoveries */
  .discoveries {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .discoveries-item {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(25% - 20px); 
    box-sizing: border-box;
    margin: 5px; 
    transition: background-color 0.3s ease; 
  }
  
  .discoveries-item img {
    width: 200px;
    height: 250px;
    border-radius: 2%;

  }
  .discoveries-item h2{
    font-weight: 600;
    margin-top: 5px;
    font-size: 18px;
  }
  .discoveries-item:hover {
    background-color: #f5f5f5; /* Change background color on hover */
    cursor: pointer; 
  }


  
  
  /* Bid Discoveries Button */
  .bid-discoveries-button {
    border: 2px solid rgb(35, 35, 35);
    color: black;
    background-color: #fff;
    padding: 4px 10px;
    width: 120px;
    margin-top: 10px;
    align-items: center;
    text-align: center;
    font-size: 22px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
  }
  
  .bid-discoveries-button:hover {
    background-color: black;
    color: white;
  }
  
  /* Carousel Text Box */
  .carousel-text-box {
    position: absolute;
    left: 20%;
    bottom: 20%;
    transform: translateX(-50%);
    background-color: rgba(0, 37, 62, .9);
    color: white;
    padding: 30px;
    text-align: center;
    border-radius: 5px;
    max-width: 25%;
  }
  
  /* BB */
  .BB {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* Allow content to wrap on smaller screens */
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    gap:50px;
}
  
  /* Img */
  .img {
    margin-right: auto;
    margin-left: auto;
  }
  
  /* Us */
  .us {
    align-items: center;
    text-align: center;
    width: 450px;
    margin: auto;
  }
  
  .us h2 {
    margin-top: 60px;
    font-size: 30px;
    font-weight: 500;
  }
  
  .us p {
    margin-top: 30px;
  }
  

  @media only screen and (max-width: 600px) {
    .img {
      margin-right: auto;
      margin-left: auto;
      width:300px;
    }
    .us{
    width: 300px;
      
    }
    .category h2 {
      color: black;
      font-weight: bold;
      font-size: 30px;
    }
    .categoryButton{
      width:200px;
      font-size: 20px;
      
    }

    .title{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    }

    .carousel-text-box {
    left: 35%;
    border-radius: 5px;
    max-width: 950px;
    }
    .discoveries-item {
      width: 100%; /* 1 item in a row for extra small screens */
    }
    
    .content{
      margin-left: auto ;
      margin-right: auto ;
      padding: 0;
      width: 100%;
      
    }
    .about-auction-container{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 4rem !important;
      padding: 5rem ;
      row-gap: 3rem
    }
    
  }
  @media (max-width: 1200px) {
    .discoveries-item {
      width: calc(33.33% - 20px); /* 3 items in a row for medium screens */
    }
  }
  
  @media (max-width: 900px) {
    .discoveries-item {
      width: calc(50% - 20px); /* 2 items in a row for small screens */
    }
    .about-auction{
      margin-left: auto;
      margin-right: auto;
  }
  }