.login-page {
  position: relative;
  height: 100vh;
  background: 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), /* Dark overlay */
    url(/src/images/banner.png) no-repeat center center / cover;
}
.headerTxt{
  text-align: center !important;
}
.login-container {
  background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent white */
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: auto;
  height: auto;

  text-align: left;
}

.login-container h2 {
  font-size: 25px;
  margin-bottom: 5px;
}

.form-group {
  padding: 18px;
  width:auto;
}


.form-group input {
  height:55px;
  width:290px;
}

.submitButton {
  width: 100%;
  padding: 10px;
  background-color: #675222;
  color: #fff;
  border: none;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
}

.links a {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  font-size: 15px;
}

.links a:hover {
  color: blue;
}
