
  .hidden {
    display: none;
  }
  
  .block {
    display: block;
  }
  .tooltip {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .group:hover .tooltip {
    visibility: visible;
    opacity: 1;
  }
  