/* sell.css */



.howWorks {
    text-align: center;
    margin: 90px auto;
    padding:20px
  }
  
  .howWorks h1 {
    font-size: 60px;
    margin-bottom: 20px;
    font-weight: 400;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .disclaimer {
    font-style: italic;
    color: gray;
    font-weight: 600;
    font-size: 20px;
  }
  
  .steps {
    display: flex;
    justify-content: space-around;
    margin-top: 90px;
  }
  
  .step {
    flex: 1;
    max-width: 300px;
    margin: 30px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
  .step svg{
    font-size:50px;
    align-items: center;
    text-align: center;
    color:#23448d;
  }
  
  .step h2 {
    font-size: 18px;
    margin: 10px 0;
  }
  
  .step p {
    font-size: 16px;
    color: gray;
  }
  .bid-button.next{
  margin: 10px auto;
  }


  .choose-Category{
    text-align: center;
    margin-top: 50px;
    font-size: 30px;
    font-weight: 500;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
.general-container{
  padding:30px
}
 .upload{
  padding:35px
 }
  .category-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .category-container {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap:90px;
    padding: 40px;
  }
  

  
  .category-box {
    flex: 1;
    padding: 20px;
    border: 1px solid #a3a2a2;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width:350px;
    height:150px;
    text-align: center;
    align-items: center;
  }
  .categoryName {
    color:black;
    text-align: center;
    align-items: center;
    font-size: 25px;
    font-weight: 500;
    padding-top: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .category-box:hover {
    background-color: #f0f0f0;
  }
  .review-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    width:350px;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 30px;
  }
  
  .review-section h6 {
    margin-bottom: 1rem;
  }
  
  .review-section .data-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .review-section .label {
    font-weight: bold;
  }
  
  .review-section .data {
    font-style: italic;
  }
  
  .review-section .button-container {
    margin-top: 1rem;
  }
  .css-n7tliy-MuiStep-root{
    margin-top: 90px;
  }

  @media (max-width: 420px){
    .howWorks h1{
      font-size: 40px;
    }
    .disclaimer{
      font-size: 18px;
    }
    .steps{ 
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    .step{
      margin-left: auto;
      margin-right: auto;
    }
    .category-box{
      padding: 20px;
      margin: 20px;
      width:auto;
    }
  
  }
  @media (max-width:680px){
    .category-container{
      display: block;
     
    }
    .category-box{
      padding: 20px;
      margin: 20px;
      height:150px;
    }

  }